<section id="about" class="about-section py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>About Us</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae sit consequatur sapiente
                        asperiores eum expedita, maiores, commodi voluptates nostrum illum nihil, ea et. Accusamus,
                        perferendis? Sint voluptatum animi maxime, recusandae atque ad ratione sequi eos ea, praesentium
                        rem quas corrupti ipsum placeat pariatur? Officia, magnam esse. Tempora, dolorem tempore debitis
                        molestiae, amet, eum perspiciatis ducimus vero ullam sequi eos. Debitis eum voluptates corporis
                        quos exercitationem ab voluptatibus et quidem corrupti veniam quis, vero est at dicta libero
                        unde dolor nemo natus error soluta explicabo facere voluptate dolores! Voluptatibus atque
                        consectetur nemo nobis impedit maxime ipsa natus officiis consequuntur hic eius, ab sit aut,
                        omnis quo. Fuga illo, dolores repellat at quidem ab dolorem maiores provident itaque sed
                        deleniti est. Sapiente voluptas sequi assumenda fuga magni consequatur corrupti mollitia beatae
                        officia, iste officiis nostrum vero corporis animi, rem dolor. Maxime esse, praesentium expedita
                        eligendi architecto voluptatem quia in omnis perspiciatis tempore.</p>
                </div>
                <div class="col-md-6">
                    <img src="images/letsGo logo.png" class="img-fluid" alt="About Us">
                </div>
            </div>
        </div>
    </section>